aside {
    padding: 60px 0;
    background: #fff;
    color: set-text-color(#fff);
    p {
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: 30px;
    }
}
