#mobile-nav-button {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 16px 16px 0 0;
    font-size: 1em;
    z-index: 1001;
    text-align: right;
}

h1 {
    font-size: 2em;
    line-height: 1.1;
    letter-spacing: 3px;
    text-align: center;
    span {
      font-size: .5em;
      letter-spacing: 1.5px;
    }
}
#page-header {
    padding: 0 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}