// COLOR
// $bg-color: rgb(217,217,217);
$bg-color: rgb(0,0,0);
$light-box-color: rgb(242,242,242);
$dark-box-color: rgb(26,26,26);
$logo-box-color: rgb(255,255,255);

// FONT
$font-family-base:'Lato', san-serif;
$font-family-header:'Roboto', san-serif;

// rgb(26,26,26) czarny - pierwszy plan
// rgb(242,242,242) biały - pierwszy plan
// rgb(217,217,217) szay - drugi plan
// rgb(0,0,0) czcionka
// rgb(255,255,255) tło - loga


// // Color
// $bg-color: lighten(#000, 10%);
// $secondary-color: darken(#FFF, 5%);

// // Font
// $font-family-base:'Lato', san-serif;
// $font-family-header:'Roboto', san-serif ;
// $font-light: #f2f2f2;